.tittle{
    color:rgb(150, 55, 45)!important;
    text-align: left;
}
.normal-text{
    font-size: 34px !important;
}
.slides{
    width: 100% !important;
}
.padder{
    padding-bottom: 1% !important;
}